<!DOCTYPE html>
<html>
<head>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
</head>
<body>

<h2>All Products</h2>
<a th:href="@{/product/add}">Add Product</a>
<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Price</th>
    <th>Category</th>
    <th>Operation</th>
  </tr>
  <tr th:each="product: ${products}">
    <td th:text="${product.productId}" />
    <td th:text="${product.productName}" />
    <td th:text="${product.productPrice}" />
    <td th:text="${product.productCategory}" />
    <td><a th:href="@{/product/delete/{id}(id=${product.productId})}">Delete</a></td>

  </tr>
</table>

</body>
</html>

